{% from "govuk/components/table/macro.njk" import govukTable %}
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Job Roles
    </h1>
  </div>
</div>

{% if jobRoles and jobRoles.length > 0 %} 
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Job Role</th>
      <th scope="col" class="govuk-table__header">Specification</th>
      <th scope="col" class="govuk-table__header">Specification Link</th>
      <th scope="col" class="govuk-table__header">Capability</th>
      <th scope="col" class="govuk-table__header">Band</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
  {% for jobRole in jobRoles %}
    <tr class="govuk-table__row">
      <td id="{{loop.index}}" class="govuk-table__cell"><a href=/jobResponsibility/{{jobRole.roleId}} target="_blank">{{ jobRole.name }}</a></td>
      <td class="govuk-table__cell">{{jobRole.specification}}</td>
      <td class="govuk-table__cell"><a href={{jobRole.specLink}} target="_blank">View Specification</a></td>
      <td class="govuk-table__cell">{{jobRole.capability}}</td>
      <td class="govuk-table__cell"><a href=/competencies/{{jobRole.band}} target="_blank">{{jobRole.band}}</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<h1 class="govuk-heading-m">
  There are no job roles. 
</h1>
{% endif %}

{{ govukButton({
  text: "Home",
  href: '/home'
}) }}
{% endblock %}
