{% from "govuk/components/table/macro.njk" import govukTable %}
{% extends "layout_unbranded.html" %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Registration
{% endblock %}

{% block content %}

    {% from "govuk/components/input/macro.njk" import govukInput %}
    {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

    {% if errormessage %}
        <div class="govuk-error-message">{{ errormessage }}</div>
    {% endif %}
    
    <form action="/registeruser" method="post">

    {% call govukFieldset({
      legend: {
        text: "Registration Details",
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true
      }
    }) %}
    
      {{ govukInput({
        label: {
          text: 'Email'
        },
        id: "email",
        name: "email",
        type: "email",
        pattern: ".+@kainos\.com",
        autocomplete: "email"
      }) }}
    
      {{ govukInput({
        label: {
          text: 'Password'
        },
        id: "password",
        name: "password",
        type: "password",
        autocomplete: "password"
      }) }}
    
      {{ govukSelect({
        id: "role",
        name: "role",
        label: {
          text: "Role"
        },
        items: [
          {
            value: "employee",
            text: "Employee",
            selected: true
          },
          {
            value: "admin",
            text: "Admin"
          }

        ]
      }) }}

      {{ govukButton({
        text: "Register",
        type: "Submit"
      }) }}

      </form>
    {% endcall %}

    {% endblock %}

